.width500{
    width: 500px
}
.height100{
height:50px
}
.red{
    background-color: #e40303;
}
.orange{
    background-color: #ff8c00;

}
.yellow{
    background-color: #ffed00;

}
.green{
    background-color: #008026;

}
.blue{
    background-color: #24408e;

}
.purple{
    background-color: #732982;

}