@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    /* border: 2px dotted red; */
}

.nav-bg {
    background-color: black;
    height: 100px;
}

.navbar {
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navheader {
    color: white;
    margin: 20px;
}

.navlinks {
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.active {
    font-weight: bold;
}

button {
    margin: 20px;
    color: white;
    background-color: rgb(42, 153, 159);
    border: none;
    width: 90px;
    height: 30px;
    font-size: medium;
    box-shadow: 4px 5px 5px 2px black;
}

.main {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    /* background-color: plum */
    padding: 20px;
}

.col-left {
    flex: 2
        /* padding: 20px; */
        /* gap: 20px; */
}

.user-card-container {
    background-color: aliceblue;
    width: inherit;
    margin-bottom: 20px;

}

.header {
    height: 70px;
    background-color: rgb(42, 153, 159);

}

#my-profile-pic {
    margin-left: 15px;
    width: 90px;
    display: flex;
    border: 2px solid grey;
    border-radius: 50%;
    position: absolute;
    top: 135px;
}

.profile-body {
    border-left: 2px solid rgb(157, 156, 156);
    border-right: 2px solid rgb(157, 156, 156);
    border-bottom: 2px solid rgb(157, 156, 156);
    padding: 20px;
}

.username {
    margin-top: 20px;
}

.location {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.mapmark {
    width: 15px;
    margin-right: 5px;
}

.description {
    margin-top: 20px;
}

.settings {
    margin-top: 20px;
    display: flex;
}

.gearicon {
    margin-right: 5px;
    width: 20px;
}

.education-container {
    background-color: aliceblue;
    width: inherit;
}

.education-title {
    padding: 20px;
    background-color: rgb(46, 45, 45);
    color: azure;
}

.education-body {
    border-left: 2px solid rgb(157, 156, 156);
    border-right: 2px solid rgb(157, 156, 156);
    border-bottom: 2px solid rgb(157, 156, 156);
    padding: 30px;

}

h3 {
    margin-bottom: 10px;
    font-size: x-large;
}

.education-date {
    margin-bottom: 10px;
    color: grey;
}

.col-right {
    flex: 1
        /* padding:
     20px; */
}


.request-container {
    width: inherit;
    margin-bottom: 20px;
}

.connection-request-title {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(46, 45, 45);
    color: azure;
}
.notification-circle{
    text-align: center;
    margin-right: 5px;
    height: 15px;
    width: 14px;
    padding: 3px;
    color: black;
    font-size: 12px;
    border-radius: 20px;
    background-color: azure;
    border: 2px solid rgb(157, 156, 156)
}
.request-body {
    background-color: aliceblue;
    padding: 5px 20px;
    border-left: 2px solid rgb(157, 156, 156);
    border-right: 2px solid rgb(157, 156, 156);
    border-bottom: 2px solid rgb(157, 156, 156);
}

.requesting-user {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5px;
}
.user-request{
    display: flex;
    align-items: center;
}

.accept-circle {
    width: 30px;
}

.close-circle {
    width: 30px;
}

.my-connections-container {
    background-color: aliceblue;
    width: inherit;
    margin-bottom: 20px;

}

.my-connections-title {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(46, 45, 45);
    color: azure;
}
.connection-count{
    text-align: center;
    margin-right: 5px;
    height: 15px;
    width: 40px;
    padding: 1px;
    color: black;
    font-size: 12px;
    border-radius: 50%;
    background-color: azure;
    border: 2px solid rgb(157, 156, 156)
}

.my-connections-body {
    padding-top: 5px; 
    background-color: aliceblue;
    border-left: 2px solid rgb(157, 156, 156);
    border-right: 2px solid rgb(157, 156, 156);
    border-bottom: 2px solid rgb(157, 156, 156);
}

.my-connections {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 20px;
}

.connection-profile-photo {
    width: 39px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid grey
}

.view-more {
    margin-top: 5px;
    width: inherit;
    padding: 10px 19px;
    border-top: 2px solid rgb(157, 156, 156);
}